
/* COLOURS
--------------------------------------------*/

$color-primary: #60B0E1;
$color-primary-hover: #75B9E4;
$color-secondary: #E63946;
$color-warning: #E63946;


$white: #FFF;
$light-grey: #EEE;
$medium-grey: #DDD;
$black: #3C3C3C;





/* FONTS
--------------------------------------------*/

$font-primary: Poppins, sans-serif;





/* BORDERS
--------------------------------------------*/

$border-radius-default: 4px;