
{% extends 'base.html' %}

{% block title %}Comics{% endblock %}

{% block content %}


  <!-- Page Banner
  ------------------------------------->
  <div class="page-banner">
    <!-- Page Banner BG Image Overlay -->
    <div class="page-banner__bg-overlay"></div>

    <!-- Page Banner Title -->
    <!-- Title changes dynamically based on category selected by user -->
    {% if category == '' %}
      <h1 class="page-banner__title">All Comics</h1>
    {% else %}
      <h1 class='page-banner__title'>{{ category }}</h1>
    {% endif %}
  </div>
  
  
  
  

  <!-- Page Content
  ------------------------------------->
  <section class="comics">
    <div class="comics__container container">

      <!-- Categories Heading -->
      <div class="comics__column--narrow">
        <h3 class="comics__sidebar-heading">Categories</h3>
      </div>


      <!-- Search Bar -->
      <div class="comics__column--wide">

        <!-- Search bar component -->
        <form class="comics__search-bar search-bar" action="/comics" method="POST">

          <label aria-label="Search title or author ..."><input type="text" name="searchTerm" class="search-bar__input" id="searchbox" placeholder="Search title or author ..."></label>

          <!-- Search button for large devices -->
          <button type="submit" name="search" class="search-bar__button button--positive"><i class="fas fa-search"></i> Search</button>

          <!-- Search button for phones -->
          <button type="submit" name="search" class="search-bar__button--mobile button--primary"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>


    <!-- Dividing Line -->
    <div class="comics__container container">
      <hr class="comics__dividing-line">
    </div>


    <div class="comics__container--align-top container">


      <!-- Categories Sidebar -->
      <div class="comics__column--narrow">
        <div class="comics__categories-list">
          <!-- Category - All Books -->
          <a href="/comics" class="comics__category-item"> 
            <p class="comics__category-name">All Comics</p>
          </a>

          {% for category in availableCategories|sort(case_sensitive=False) %}
            <!-- Category -->
            <a href="/comics?category={{ category|replace(' ', '_') }}" class="comics__category-item">
              <p class="comics__category-name">{{ category }}</p>
            </a>
          {% endfor %}

        </div>
      </div>


      <!-- Book Grid -->
      <div class="comics__column--wide">
        <div class="comics__book-grid book-grid">

          {% if comics == [] %}
            <p class='book-grid__no-results'>No comics found - please check back again soon.</p>
          {% else %}
            {% for comic in comics %}
            <!-- Book Grid Item -->
            <div class="book-grid__item">
              <a href="/comic-details?id={{ comic.id }}" class="book-grid__link">
                <img class="book-grid__img" src="{{ url_for('static', filename=comic.coverImage) }}" alt="{{ comic.title }}">
                <h4 class="book-grid__title">{{ comic.title }}</h4>
              </a>
              <div class="book-grid__flex-wrapper">
                <a href="/comics?author={{ comic.author|replace(' ', '_') }}" class="book-grid__link">
                  <h5 class="book-grid__author">{{ comic.author }}</h5>
                <a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        
        </div>
      </div>
    </div>
  </section>
  




  <!-- Back to Top Button
  ------------------------------------->
  <a href="#top" class="back-to-top-button" aria-label="Back to top button"><i class="fas fa-chevron-up back-to-top-button__arrow"></i></a>


{% endblock %}