
{% extends 'base.html' %}

{% block title %}Comic Details{% endblock %}

{% block content %}


  <!-- Page Banner
  ------------------------------------->
  <div class="page-banner">
    <!-- Page Banner BG Image Overlay -->
    <div class="page-banner__bg-overlay"></div>

    <!-- Page Banner Title -->
    <!-- Title changes dynamically based on comic author -->
    <h1 class="page-banner__title">{{ comic.author }}</h1>
  </div>





  <!-- Page Content
  ------------------------------------->
  <section class="comic-details">
    <div class="comic-details__container container">

      <!-- Comic Image -->
      <div class="comic-details__column--narrow">
        <img class="comic-details__img" src="{{ url_for('static', filename=comic.coverImage) }}" alt="{{ comic.title }}">
      </div>


      <!-- Text Content -->
      <div class="comic-details__column--wide">

        <!-- Comic Title -->
        <h3 class="comic-details__heading">{{ comic.title }}</h3>

        <!-- Author -->
        <h5 class="comic-details__author">{{ comic.author }}</h5>

        <!-- Dividing Line -->
        <hr class="comic-details__dividing-line">

        <!-- Comic Summary -->
        <p class="comic-details__summary">{{ comic.summary }}</p>

        <!-- Additional Info -->
        <p class="comic-details__additional-info">{{ comic.additionalInfo }}</p>


        <!-- Buttons (created dynamically) -->
        <form class="comic-details__button-wrapper" action="/comic-details?id={{ comic.id }}" method="POST">

          <!-- If user logged in, show 'Add to Colllection' button -->
          {% if user.is_authenticated %}
            {% if comic.id|string in user.collection %}
              <p class="comic-details__button button--success-text button--large">Added to your collection</p>
            {% else %}
              <button name="addToCollection" type="submit" class="comic-details__button button--positive button--large">Add to Collection</button>
            {% endif %}
          {% endif %}
          
        </form>
      </div>


      <!-- Categories Sidebar -->
      <div class="comics__column--narrow">
        <div class="comics__categories-list">
          <!-- Category - All Books -->
          <a href="/comics" class="comics__category-item"> 
            <p class="comics__category-name">All Comics</p>
          </a>

          {% for category in availableCategories|sort(case_sensitive=False) %}
            <!-- Category -->
            <a href="/comics?category={{ category|replace(' ', '_') }}" class="comics__category-item">
              <p class="comics__category-name">{{ category }}</p>
            </a>
          {% endfor %}

        </div>
      </div>

    </div>
  </section>





  <!-- Featured Titles (for css styles, see _homepage.scss)
  ------------------------------------->
  <section class="featured">
    <div class="featured__container container">

      <!-- Heading -->
      <div class="featured__titles">
        <h2 class="featured__heading">More from This Author</h2>
      </div>

      <!-- Book Grid -->
      <div class="featured__book-grid book-grid">

        <!-- Individual book tiles created dynamically -->

        {% for comic in featuredComics %}
          <!-- Book Grid Item -->
          <div class="book-grid__item">
            <a href="/comic-details?id={{ comic.id }}" class="book-grid__link">
              <img class="book-grid__img" src="{{ url_for('static', filename=comic.coverImage) }}" alt="{{ comic.title }}">
              <h4 class="book-grid__title">{{ comic.title }}</h4>
            </a>
          </div>
        {% endfor %}

      </div>

    </div>
  </section>


{% endblock %}