<!--

session_start();

// Stores current URL minus arguments
$_SESSION['redirect'] = strtok($_SERVER['REQUEST_URI'], '?');

-->


{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}


  <!-- Page Banner
  ------------------------------------->
  <div class="page-banner">
    <!-- Page Banner BG Image Overlay -->
    <div class="page-banner__bg-overlay"></div>

    <!-- Page Banner Title -->
    <h1 class="page-banner__title">Contact</h1>
  </div>





  <!-- Page Content
  ------------------------------------->
  <section class="contact">
    <div class="contact__container container">

      <!-- Contact Form -->
      <div class="contact__column--wide">
        <h3 class="contact__heading">Get In Touch</h3>
        <p class="contact__text">If you would like to get in touch to request a new title or to submit a general inquiry, send us a message using the form below and we'll get back to you within 48 hours.</p>

        <!-- PHP shows success confirmation when new book added -->
        <!--

        if (isset($_GET['success']) && $_GET['success'] == 'success') {
          echo '<span class="contact__success">Message sent successfully</span>';
        }

        -->

        <!-- Form Component -->
        <form class="contact__form form" action="/contact?success=success" method="POST">

          <!-- Name -->
          <label for="Name" class="form__label">Name</label>
          <input name="Name" id="Name" type="text" class="form__text-input" maxlength="50" required>
  
          <!-- Email -->
          <label for="email" class="form__label">Email</label>
          <input name="email" id="email" type="text" class="form__text-input" maxlength="50" required>
  
          <!-- Message -->
          <label for="message" class="form__label">Message</label>
          <textarea name="message" id="message" cols="50" rows="5" class="form__text-area" placeholder="Type your message here ..." maxlength="1000" required></textarea>
  
          <!-- Regular Form Buttons -->
          <input name="submit" type="submit" value="Submit" class="form__button button--positive">
          <input name="reset" type="reset" value="Reset" class="form__button button--negative">

          <!-- Mobile Form Buttons -->
          <input name="submit" type="submit" value="Submit" class="form__button--mobile button--primary button--large">
          <input name="reset" type="reset" value="Reset" class="form__button--mobile button--negative button--large">
          
        </form>
      </div>


      <!-- Contact Details -->
      <div class="contact__column--narrow">
        <h3 class="contact__heading">Contact Details</h3>
        <p class="contact__text">We are based in Edinburgh, Scotland.</p>

        <!-- Address -->
        <div class="contact__icon-wrapper">
          <i class="contact__icon fas fa-map-marker-alt"></i>
          <div>
            <h5 class="contact__icon-heading">Address</h5>
            <p class="contact__icon-text">5 Side Street, Edinburgh, EH1 1EH, United Kingdom</p>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="contact__icon-wrapper">
          <i class="contact__icon fas fa-phone-alt"></i>
          <div>
            <h5 class="contact__icon-heading">Phone Number</h5>
            <p class="contact__icon-text">(+44) 1234 567890</p>
          </div>
        </div>
      </div>

    </div>
  </section>


{% endblock %}