
{% extends 'base.html' %}

{% block title %}Login & Register{% endblock %}

{% block content %}


  <!-- Page Banner
  ------------------------------------->
  <div class="page-banner">
    <!-- Page Banner BG Image Overlay -->
    <div class="page-banner__bg-overlay"></div>

    <!-- Page Banner Title (based on where user came from) -->
    {% if section == 'login' %}
      <h1 class="page-banner__title">Login</h1>
    {% elif section == 'register' %}
      <h1 class="page-banner__title">Register</h1>
    {% else %}
      <h1 class="page-banner__title">Welcome</h1>
    {% endif %}
  </div>





  <!-- Page Content
  ------------------------------------->
  <section class="login-register">
    <div class="login-register__container container">

      <!-- LOGIN FORM -->
      <div class="login-register__column">

        <!-- Heading -->
        <h3 class="login-register__heading">Login</h3>

        <!-- Form Component ('focus' class added depending on where the user came from) -->
        <div class="login-register__form-box {% if section == 'login' %}focus{% endif %}">
          <form class="login-register-form form" action="/login-request" method="POST">

            <!-- Username (error displayed if user details not found in DB) -->
            <label for="login-username" class="form__label">Username</label>
            {% if error == 'user_details_not_found' %}
              <span class="form__error">Details not found - you need to register before you can login</span>
            {% endif %}
            <input name="username" id="login-username" type="text" class="form__text-input" maxlength="20" required>
    
            <!-- Password -->
            <label for="login-password" class="form__label">Password</label>
            <input name="password" id="login-password" type="password" class="form__text-input" minlength="8" maxlength="20" required>
    
            <!-- Submit Button -->
            <input name="submit" type="submit" value="Login" class="form__button {% if section == 'login' %}button--primary{% else %}button--positive{% endif %}">
            <input name="submit" type="submit" value="Login" class="form__button--mobile {% if section == 'login' %}button--primary{% else %}button--positive{% endif %}">
          </form>
        </div>
      </div>


      <!-- REGISTRATION FORM -->
      <div class="login-register__column">
        
        <!-- Heading -->
        <h3 class="login-register__heading">Register</h3>

        <!-- Form Component ('focus' class added depending on where the user came from) -->
        <div class="login-register__form-box {% if section == 'register' %}focus{% endif %}">
          <form class="login-register-form form" action="/register-request" method="POST">

            <!-- Username -->
            <label for="register-username" class="form__label">Username <span class="subtle">(max. 20 characters)</span></label>
            <!-- Display error -->
            {% if error == 'usernameError' %}
              <span class="form__error">Sorry, this username already exists</span>
            {% endif %}
            <input name="username" id="register-username" type="text" class="form__text-input" maxlength="20" required>
    
            <!-- Password -->
            <label for="register-password" class="form__label">Password <span class="subtle">(8-20 characters)</span></label>
            <input name="password" id="register-password" type="password" class="form__text-input" minlength="8" maxlength="20" required>

            <!-- Confirm Password -->
            <label for="register-confirm-password" class="form__label">Confirm Password</label>
            <!-- Display error -->
            {% if error == 'passwordError' %}
              <span class="form__error">Password does not match</span>
            {% endif %}
            <input name="confirm-password" id="register-confirm-password" type="password" class="form__text-input" minlength="8" maxlength="20" required>
    
            <!-- Submit Button -->
            <input name="submit" type="submit" value="Register" class="form__button {% if section == 'register' %}button--primary{% else %}button--positive{% endif %}">
            <input name="submit" type="submit" value="Register" class="form__button--mobile {% if section == 'register' %}button--primary{% else %}button--positive{% endif %}">
          </form>
        </div>
      </div>

    </div>
  </section>


{% endblock %}